
/* Style of menu items (links) */
.menu-item {
  color: #1a1a1a;
  text-decoration: none;
  padding: 10px;
}

.menu-item img {
  width: 1.55em;
  padding-right: 0.8em;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 2em;
  height: 1.4em;
  left: 1em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #1a1a1a;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0
}

/* General sidebar styles */
.bm-menu {
  background: #f0f0f0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}